@import './consts.scss';

.form-control {
  background-color: $q-input;
  border: 1px solid #111;
}

.btn.btn-primary {
  padding: 10px 40px;
  background: $q-primary;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
}

.qilin-modal {

  .modal-dialog {
    @media (min-width: $screen-sm-min) {
      min-width: 600px;
    }
    font-size: 18px;

    .tooltip {
      .arrow:before {
        border-right-color: red;
      }
      .tooltip-inner {
        background-color: red;
        color: white;
      }
    }

    > .modal-content {
      background-color: $q-back;
      > .modal-body {
        padding: 30px;
        padding-top: 0;
        label {
          text-transform: uppercase;
          color: $q-blue;
        }
      }
      > .modal-header {
        padding: 30px;
        padding-bottom: 20px;
        border-bottom: none;
        .modal-title {
          font-weight: normal;
          color: $q-blue;
          font-size: 36px;
        }
      }
      > .modal-footer {
        padding: 30px;
        padding-top: 20px;
        .btn {
          padding: 10px 40px;
          background: $q-primary;
          text-transform: uppercase;
          border-radius: 2px;
          border: none;
        }
      }
    }
  }
}
